body {
  font-family: "Arial";
  margin: 1;
  padding: 1;
}

main {
  padding: 20px;
  overflow: auto;
}

nav a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}

nav a:hover {
  font-weight: bold;
}

h2,
h3 {
  color: #c60014;
}

.profile header {
  text-align: center;
}

footer {
  padding: 20px;
  color: white;
  background-color: #eb9d00;
  text-align: center;
  font-weight: bold;
}

.frame {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  object-position: center;
}

.profile img {
  width: 200px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}

.awal {
  font-size: 20px;
  padding: 9px;
  background-color: #eb4700;
  text-align: center;
  color: white;
}

nav li {
  display: inline;
  list-style-type: none;
  margin-right: 20px;
}
nav {
  background-color: #eb9d00;
  padding: 5px;
  position: sticky;
  top: 0;
}
nav a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: white;
}

#content {
  float: left;
  width: 75%;
}
aside {
  float: right;
  width: 25%;
  padding-left: 30px;
}
* {
  box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
  #content,
  aside {
    width: 100%;
    padding: 0;
  }
}

header {
  display: inline;
}

.thumb {
  width: 300px;
  height: 100px;
  border: 5px solid white;
  box-sizing: border-box;
}

.thumb:hover {
  opacity: 0.5;
  cursor: pointer;
}
